:root {
  --bgColor: #d8d9db;
  --mainColor: #2c2a63;
  --lightText: #fdfff1;
}

body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #2c2a63, #1f1b53);
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100svh;
  flex-direction: column;
}

.content {
  text-align: center;
  color: var(--lightText);
  padding: 40px 10px 10px;
  border-radius: 10px;
  max-width: 500px;
  position: relative;
  z-index: 1;
}
.text-content {
  padding: 0 10px;
  @media (min-width: 600px) {
    padding: 0 20px;
  }
}

.logo-container {
  margin-bottom: 0px;
}

h1 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 2.5em;
  line-height: 1.7;
  color: var(--lightText);
  @media (max-width: 600px) {
    font-size: 2em;
    line-height: 1.6;
  }
}
p {
  margin-bottom: 30px;
  font-size: 1.5em;
  line-height: 1.6;
  @media (max-width: 600px) {
    font-size: 1.2em;
  }
}
.description {
  margin-bottom: 10px;
}
.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 400px;
  margin: 20px auto 0;
  gap: 10px;
  padding: 0 15px;
}

.button {
  background-color: var(--mainColor);
  color: var(--lightText);
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.insta {
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}
.button img {
  width: 24px;
}
.button:hover {
  background-color: #0d0830;
  transform: scale(1.05);
}
.contact-text {
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
  color: var(--lightText);
}
.contact-info-container > p {
  padding-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}
.contact-info-container {
  width: 100%;
  min-height: 400px;
  position: relative;
}
.contact-info-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2c2a6354;
  z-index: -1;
}
.contact-info-container > img {
  width: 95%;
  max-width: 600px;
  position: absolute;
  top: 0;
  z-index: -2;
  height: 98%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* Text animation */
